@model WlBhcApp.Models.Customer





<div class="w3-light-grey">


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class=" w3-row w3-twothird">
        <div class="w3-cell w3-third w3-left-align">
            @Html.LabelFor(model => model.Firstname, htmlAttributes: new { @class = "control-label " })
        </div>
        <div class="w3-cell w3-twothird w3-left-align">
            @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = " w3-round-large w3-border BHInput" } })
            @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" w3-row w3-twothird">
        <div class="w3-cell w3-third w3-left-align">
            @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label " })
        </div>
        <div class="w3-cell w3-twothird w3-left-align">
            @Html.EditorFor(model => model.MiddleName, new { htmlAttributes = new { @class = " w3-round-large w3-border BHInput" } })
            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" w3-row w3-twothird">
        <div class="w3-cell w3-third w3-left-align">
            @Html.LabelFor(model => model.Lastname, htmlAttributes: new { @class = "control-label " })
        </div>
        <div class="w3-cell w3-twothird w3-left-align">
            @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = " w3-round-large w3-border BHInput" } })
            @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" w3-row w3-twothird">
        <div class="w3-cell w3-third w3-left-align">
            @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label " })
        </div>
        <div class="w3-cell w3-twothird w3-left-align">
            @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = " w3-round-large w3-border BHInput" } })
            @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" w3-row w3-twothird">
        <div class="w3-cell w3-third w3-left-align">
            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label " })
        </div>
        <div class="w3-cell w3-twothird w3-left-align">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "  w3-round-large w3-border BHInput" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" w3-row w3-twothird">
        <div class="w3-cell w3-third w3-left-align">
            @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label " })
        </div>
        <div class="w3-cell w3-twothird w3-left-align">
            @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "  w3-round-large w3-border BHInput" } })
            @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" w3-row w3-twothird">
        <div class="w3-cell w3-third w3-left-align">
            @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label " })
        </div>
        <div class="w3-cell w3-twothird w3-left-align">
            @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "  w3-round-large w3-border BHInput" } })
            @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" w3-row w3-twothird">
        <div class="w3-cell w3-third w3-left-align">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label " })
        </div>
        <div class="w3-cell w3-twothird w3-left-align">
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = " w3-round-large w3-border BHInput" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" w3-row w3-twothird">
        <div class="w3-cell w3-third w3-left-align">
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="w3-cell w3-twothird w3-left-align">
            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "w3-round-large w3-border BHInput" } })
            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class=" w3-row w3-twothird">
        <div class="w3-cell w3-third w3-left-align">
            @Html.LabelFor(model => model.ZipCode, htmlAttributes: new { @class = "control-label " })
        </div>
        <div class="w3-cell w3-twothird w3-left-align">
            @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "  w3-round-large w3-border BHInput" } })
            @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
        </div>
    </div>


</div>


<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
